<!DOCTYPE html>

<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= appname %></title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="styles/main.css">
    <% if (useModernizr) { %>
      <script src="bower_components/modernizr/modernizr.js"></script>
    <% } %>
  </head>

  <body>
    <% if (useBootstrap) { %>
      <div class="container">
      </div>
    <% } else { %>
    <% } %>
  </body>
</html>